/* Necessary for alignment of labels with input fields */
.filter-area label, .filter-area input {
  display: inline-block;
}
.filter-area label {
  width: 120px;
}

#number-of-hanzi-to-generate {
	width: 35px;
}

#total-number-of-hanzi {
	color: maroon;
	font-weight: bold;
}