h1 {
  font-family: sans-serif;
}
blockquote {
  font-size: 0.75em;
}
.marked-text {
  font-style: italic;
}
.machine-text {
  font-family: Courier New;
}
#ta-pinyin {
  background: PapayaWhip;
  color: DarkSlateGray;
}
#headline {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
}
#headline img {
  vertical-align: middle;
  padding: 5px;
}
#img-help {
  /* border: 1px dashed Black; */
  vertical-align: middle;
}
